@(genForm: Form[GenerateForms])(implicit messages: Messages)

@import BootstrapHelper._

@main("Slick Code Generator") {
  @helper.form(action = controllers.routes.Application.generate, 'role -> "form", 'class -> "form-horizontal"){
    <div class="container">
      <fieldset>
        <legend>Slick Code Generator</legend>
        <td>@helper.select(genForm("slickDriver"),
            Seq(("slick.driver.H2Driver"-> "slick.driver.H2Driver"),
                ("slick.driver.PostgresDriver"-> "slick.driver.PostgresDriver"),
                ("slick.driver.MySQLDriver"-> "slick.driver.MySQLDriver"),
                ("slick.driver.HsqldbDriver"-> "slick.driver.HsqldbDriver"),
                ("slick.driver.SQLiteDriver"-> "slick.driver.SQLiteDriver"),
                ("slick.driver.DerbyDriver"-> "slick.driver.DerbyDriver")), '_help -> "Select Slick driver class")</td>
        <td>@helper.inputText(genForm("outputFolder"), '_help -> "Place where the package folder structure should be put")</td>
        <td>@helper.inputText(genForm("pkg"), '_help -> "Scala package the generated code should be places in")</td>
        <td>@helper.inputText(genForm("schema"), '_help -> "Target schema")</td>
        <div align="right"><input type="submit" value="Generate" class="btn btn-primary"></div>
      </fieldset>
    </div>
  }
}